:root {
  --primary-color: #007AF3;
}

body{
    color: white;
      margin: 0;
      font-family: 'Poppins';
  }
  .background{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.5)),url(../images/Contact.jpg);
    background-repeat: no-repeat;
    height: 250vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .background-text{
    display: inline-block;
    background: linear-gradient(rgba(138, 138, 138, 0.438),rgba(117, 117, 117, 0.459));
    padding: 1em;
    border-radius: 3em;
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(10px);
     /* border: solid 2px transparent; */
    width: 80%; 
    right: 30px;
    top: 20%;
  }
  .mobilelogoblue{
    width: 50%;
    float: left;
    position: relative;
    
  }
  .navbar {
    background: white;
    padding: 1em;
    background-color: black;
  }
  .navbar nav{
    display: none;
  }
  .navbar .container {
    
    display: flex;
    place-content: space-between;
  }
  .navbar .mobile-menu {
    cursor: pointer;
  }
  a {
    color: #ffffff;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li.current a {
    font-weight: bold;
    color: #007AF3;
  }
  
  nav.menu-btn {
    display: block;
  }
  nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272E;
    height: 100vh;
    padding: 1em;
  }
  nav ul.primary-nav {
    margin-top: 5em;
  }
  nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: .5em;
    font-size: 1.3em;
    text-align: right;
  }
  nav li a:hover {
    font-weight: bold;
  }
  .mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
  }
.follow{
  position: relative;
  bottom: 100%;
}
  .d-flex {
    display: flex;
}
  .button.facebook {
    position: relative;
    background: linear-gradient(to top right,#4b277e,#029ee3);
}
.button {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  margin-right: 18px;
}
.button.facebook img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
img {
  max-width: 300px;
}

.button.instagram {
  position: relative;
  background-image: linear-gradient(to top right,#4b277e,#e44890);
}
.button {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  margin-right: 18px;
}
.button.instagram img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
  footer{
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    bottom: 0;
    z-index: 2;
  }
h2{
    font-size: 2em;
}
  
label p{
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}
input, textarea{
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}
input[type="submit"]{
    background-color: #007AF3;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
}
form{
  height: 550px;
}
.follow h2{
margin-bottom: 5px;
}
iframe{
    width: 95%;
    height: 300px;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: space-between;
  }
  .navbar nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }

  .navbar nav ul {
    display: flex;
  }
  .navbar nav a {
    color: rgb(255, 255, 255);
    font-size: 1em;
    padding: .1em 1em;
  }

  .navbar nav ul.primary-nav {
    margin: 0;
  }

  .mobilelogoblue{
    width: 100%;
    margin: 0;
    float: left;
 }  

  .navbar nav li.current a {
    font-weight: bold;
    color: var(--primary-color);
  }

  nav li a:hover {
    font-weight: bold;
  }
  .background{
    height: 250vh;
  }
  .background-text{
    width: 90%; 
    top: 23%;
  }
   form{
    display: block;
  }
  label{
    padding: 10px;
    padding-left: 0;
  }
 

}

 @media only screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
  .mobilelogoblue a{
    display: flex;
    width: 100%;
   
 } 
 
 .navbar .container{
  justify-content: space-around;
  width: 100%;
}
.background{
  height: 250vh;
}
.background-text{
width: 90%;
}
}

@media only screen and (min-width: 1440px) {
  
  form label {
    display: block;
    padding: 4px;
  }
  .background-text{
    width: 94%;
    }
}